.jumbotron{
    background-color: aliceblue;
    box-shadow: 5px 0 5px 0;
}
.jumbotron>h1{
    color: blue;
    text-align: center;
    font-size: 28px;
}
.forms{
    text-align: center;
    border: 3px solid aliceblue;
    background-color: azure;
}
.forms>p, .forms>form{
font-size: 22px;
}

button{
    background-color: lightblue;
}
#result>p{
    color: blue;
}