.jumbotron{
    background-color: aliceblue;
    box-shadow: 5px 0 5px 0;
    margin-top: 8px;
    padding-top: 3px;
    margin-left: 50px;
    margin-right: 50px;
}
.jumbotron>h1{
    color: rgb(236, 157, 219);
    text-align: center;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
.forms{
    background-image: url('mother.jpg');
    text-align: center;
    border: 3px solid aliceblue;
    background-color:white;
    box-shadow: 5px 0 5px 0;
    margin-top: 0;
    margin-bottom: 10px; margin-top: 5px;
    float: right;
    border-radius: 20px;
    padding-left: 7px;
}
.forms>p, .forms>form{
font-size: 22px;
}

button{
    background-color: rgb(230, 173, 221);
}
#display{
    color: rgb(243, 134, 219);
    font-family: fantasy;
    background-color: white;
    font-size: 22px;
}
.container{
    background-image: url('http://www.teamopenoffice.org/pimages/130/1308379/new-born-baby-wallpaper.jpg');
    background-size: contain;
    overflow: auto;
    width: 1000px;
    height: 800px;
}
body{
    background-color: aliceblue;
    background-size: cover;
}
.footer{
    text-align: center;
    font-size: 16px;
}